<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">

</head>
<body>

<div th:align="center" class="tg">
    <h1>Admin Page</h1>
    <br/>
    <br/>
    <h2>USERS</h2>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>LAST_NAME</th>
            <th>PHONE_NUMBER</th>
            <th>EMAIL</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.username}">NAME</td>
            <td th:text="${user.lastName}">LAST_NAME</td>
            <td th:text="${user.phoneNumber}">PHONE_NUMBER</td>
            <td th:text="${user.email}">EMAIL</td>
            <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{/remove/{id}(id=${user.id})}">Delete</a></td>
        </tr>
    </table>
    <br/>
    <h3><a href="/admin/new.html">Add User</a></h3>
    <br/>
    <a th:href="@{/logout}">LOGOUT</a>
</div>
</body>
</html>
